/* YOUR CUSTOM STYLES */


/* 
body {
    margin: 0;
    background-image: url('../img/emcsquared.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
*/
